@import "../modules/all";


// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Font Weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font Settings
$base-font-family: 'Roboto';
$base-font-weight: $regular;
$base-font-color: $font;
$base-font-size: 13px;
$base-line-height: 1.4;