// main application colors
$background: #34495E;
$highlight: #2C3E50;
$emphasis: #253443;
$font: #ECF0F1;

// accent colors, mainly for different train statuses
$positive: #2ECC71;
$caution: #F1C40F;
$error: #E74C3C;